/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

:root {
  --color-primary-blue: #007EA7;
  --color-primary-lightblue: #CAF0F8;
  --color-primary-dark: #0D1B2A;
  --color-secondary-dark: #00509D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

/* utlities */

.container {
  width: 80%;
  max-width: 1440px;
  margin-inline: auto;
}

.text-center-mx-width {
  text-align: center;
  max-width: 80ch;
  margin-inline: auto;
}

.accent-btn {
  font-weight: bold;
  color:  var(--color-primary-dark) !important;
  padding: 0.5em 1em;
  background-color: var(--color-primary-lightblue);
}

.accent-btn:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-lightblue) !important;
}

.cta-btn {
  font-weight: bold;
  text-decoration: none;
  color:  var(--vt-c-white);
  justify-self: center;
  padding: 1em 1.5em;
  background-color: var(--color-primary-dark);
  transition: all 500ms ease-in;
}

.cta-btn:hover {
  color: var(--color-primary-dark);
  background-color: var(--vt-c-white);
}

.outline-btn {
  color: var(--color-primary-dark);
  background-color: transparent !important;
  border: 1px solid var(--color-primary-dark);
  transition: all 300ms ease-in;
}

.outline-btn:hover {
  border-color: var(--color-primary-lightblue);
  background-color: var(--vt-c-white);
}

  


