@import './base.css';
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* transition:
    color 0.5s,
    background-color 0.5s; */
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: clamp(1rem, calc(1rem + 2vw), 3rem);
  text-transform: uppercase;
  line-height: 1.2;
  color: #fff;
}

img {
  width: 100%;
}

header {
  position: relative;
    background-color: var(--color-primary-dark);
    height: 10vh;
    padding-inline: 1.5em !important;
    transition: all 0.5s ease-in-out;
}

header > *,
header nav {
  height: 100%;
}

header ul li a,
footer ul li a {
  color:  var(--color-primary-lightblue) !important;
}

header ul li a:hover,
footer ul li a:hover {
  color: var(--color-primary-blue) !important;
}

ul {
  list-style: none;
}

ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.logo {
  max-width: 100px;
}

.logo a {
  display: block;
  width: 100%;
}

.cta-container .cta-btns {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-block: 4em;
}

footer {
  /* padding-block: 2em; */
  background-color: var(--color-primary-dark);
}

footer .logo {
  margin-inline: auto;
}

.footer-container {
  padding-block: 1em;
}

footer .copyright-container {
  font-size: .8rem;
  text-align: center;
  margin-top: 2em;
  padding: 1em;
  background-color: var(--color-secondary-dark);
}



/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
